<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @participante.nome %>
</p>

<p>
  <b>Email:</b>
  <%= @participante.email %>
</p>

<p>
  <b>Endereco:</b>
  <%= @participante.endereco %>
</p>

<p>
  <b>Bairro:</b>
  <%= @participante.bairro %>
</p>

<p>
  <b>Zona:</b>
  <%= @participante.zona %>
</p>

<p>
  <b>Cep:</b>
  <%= @participante.cep %>
</p>

<p>
  <b>Cidade:</b>
  <%= @participante.cidade %>
</p>

<p>
  <b>Estado:</b>
  <%= @participante.estado %>
</p>

<p>
  <b>Telefone:</b>
  <%= @participante.telefone %>
</p>

<p>
  <b>Celular:</b>
  <%= @participante.celular %>
</p>

<p>
  <b>Recado:</b>
  <%= @participante.recado %>
</p>

<p>
  <b>Nasc:</b>
  <%= @participante.nasc %>
</p>

<p>
  <b>Idade:</b>
  <%= @participante.idade %>
</p>

<p>
  <b>Peso:</b>
  <%= @participante.peso %>
</p>


<%= link_to 'Edit', edit_participante_path(@participante) %> |
<%= link_to 'Back', participantes_path %>
